
.page{
  margin-top: 10vh;
}
.itemContent{
  display: flex;
  justify-content: space-between;
}

.createItemButton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100px;
}

@media (min-width: 901px) {
  .page {
    width: calc(100vw - 170px);
  }
}

@media (max-width: 900px) {
  .page {
    width: calc(100vw - 170px);
  }
  .invitedPageContainer.pageLeft {
    margin-left: -100%;
  }
}

@media (max-width: 600px) {
  .page {
    width: 100vw;
  }
}
