.wishlistPage {
  padding-bottom: 3rem;
  padding-left: 3rem;
}
.itemContent {
  display: flex;
  justify-content: space-between;
  padding-right: 8rem;
}

.createItemButton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100px;
}
