.mobileTopNav {
  display: none;
}

.dashboardNav {
  height: 100%;
  width: 140px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  background-color: var(--color-primary-dark);
  box-shadow: 1px 0 2px 0 var(--color-dark);

  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navProfilePicture {
  padding-bottom: 19px;
  border-bottom: 2px solid var(--color-light);
}

.navButton {
  margin-top: 20px;
}

/* Set settings button to bottom of sidenav */
.navButtonBottom {
  justify-self: flex-end;
}

.navButtonBottom {
  position: absolute;
  bottom: 20px;
  width: 100px;
}

/* Mobile version of navbar */

@media (max-width: 600px) {
  body {
    margin-left: 0;
  }

  .mobileTopNav {
    width: 100%;
    background-color: var(--color-primary-dark);
    box-shadow: 1px 0 2px 0 var(--color-dark);
    display: flex;
  }

  .dashboardNav {
    width: 75vw;
    left: 0;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }

  .dashboardNav.hidden {
    left: -76vw;
  }
}
