.mobileTopNav {
  display: none;
}

.dashboardNav {
  height: 100%;
  width: 170px;

  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  background-color: var(--color-primary-dark);
  box-shadow: 1px 0 2px 0 var(--color-dark);
  display: flex;
  flex-direction: column;
}

.navButtonContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navDivider {
  border: 0.25px solid #bbb;
  width: 100%;
  margin: 0 auto;
}
.navProfilePicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.75rem;
}

.navProfilePicture .profilePicture {
  margin-bottom: 0.25rem;
}
.navProfilePicture .names {
  display: none;
}
.group,
.navButton {
  cursor: pointer;
  padding: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: background 0.1s linear;
}

.group:hover,
.navButton:hover,
.group.active,
.navButton.active {
  background: rgba(255, 255, 255, 0.2);
}

.navButton .icon svg {
  display: flex;
  margin-right: 5px;
}

.navButton span {
  color: var(--color-light);
}

/* Set settings button to bottom of sidenav */
.navButtonBottom {
  margin-top: auto;
}

/* Group dropdown styles */
.groupDropdownContainer {
  display: flex;
  flex: 1;
}

.dropdownArrow.open {
  transform: rotate(-180deg);
}
.groupDropdown::-webkit-scrollbar {
  width: 0 !important;
}

.groupDropdown {
  overflow-y: auto;
  flex: 1;
}
.dropdownArrow {
  margin-right: 5px;
  position: absolute;
  right: 0;
  display: flex;
  transition: transform 0.18s linear;
}
.group > span,
.groupDropdown {
  transition: height 0.2s linear;
}
.groupDropdown.show {
  height: 100%;
}
.groupDropdown.hidden {
  height: 0;
}
.group {
  position: relative;
  color: var(--color-light);
}

/* Mobile version of navbar */

@media (max-width: 600px) {
  body {
    margin-left: 0;
  }

  .group,
  .navButton {
    font-size: 1.1rem;
  }
  .navProfilePicture {
    flex-direction: row;
  }
  .navProfilePicture .profilePicture {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
  .navProfilePicture .names {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--color-light);
  }
  .mobileTopNav {
    width: 100%;
    background-color: var(--color-primary-dark);
    box-shadow: 1px 0 2px 0 var(--color-dark);
    display: flex;
  }

  .dashboardNav {
    width: 75vw;
    left: 0;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }

  .dashboardNav.hidden {
    left: -76vw;
  }
}
