/* General styles for start screen */

.startScreen {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.authButtonContainer,
.homeTitle,
.downArrowContainer {
  display: flex;
}

.homeTitle,
.downArrowContainer {
  flex: 1;
}

.homeTitle,
.downArrowContainer {
  justify-content: center;
}

/* Home title styles */

.homeTitle {
  align-items: center;
}

.homeTitle > h1 {
  font-size: 3rem;
  font-weight: 400;
}

/* Arrow styles */

.downArrowContainer {
  align-items: flex-end;
}
.downArrow {
  position: relative;
  border-radius: 5rem;
  cursor: pointer;
  -moz-animation: jump 2s infinite ease-in-out;
  -webkit-animation: jump 2s infinite ease-in-out;
}
.downArrow svg {
  vertical-align: middle;
}

/* Media queries for responsiveness */

@media (min-width: 601px) {
  .authButtonContainer {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .startScreen {
    padding: 0 1rem;
  }
  .authButtonContainer {
    flex-direction: column;
    justify-content: center;
  }
  .authButtonContainer .buttonContainer:not(:last-child) {
    margin-bottom: 0.25rem;
  }
  .authButtonContainer .buttonContainer:not(:first-child) {
    margin-top: 0.25rem;
  }
}

/* Keyframes for jumping animation */

@-moz-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
