.memberBarContainer {
  position: fixed;
  height: calc(100% - 76px);
}

.memberBar {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.memberCard {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.75rem;
  color: var(--color-light);
  border-bottom: 1px solid var(--color-dark);
}

.memberPicture {
  margin-right: 0.5rem;
}
.active-group-member {
  background-color: var(--color-primary-dark);
}

.memberContainer {
  overflow-y: auto;
  overflow-x: hidden;
}
.memberContainer::-webkit-scrollbar {
  width: 0 !important;
}

.addUserButtonContainer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-dark);
  border-bottom: 0;
  margin-top: auto;
}
.addUserButtonContainer > span {
  margin-left: 0.25rem;
}
.showMembersButton {
  display: none;
}
@media (max-width: 600px) {
  .showMembersButton {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 0.5rem;
  }
  .memberBarContainer {
    top: 0;
    z-index: 9999;
    max-height: 100vh;
    height: 100vh;
    left: -75vw;
    transition: left 0.5s;
  }
  .memberBar {
    width: 60vw;
  }

  .memberBarContainer.active {
    left: 0;
  }
}
