.chatWindow {
  position: fixed;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.chat {
  padding-bottom: 1rem;
  flex: 1;
  overflow-y: auto;
}

.chat,
.chat-input-field {
  width: 100%;
}
.chat-input {
  border-top: var(--color-primary) solid 1px;
  display: flex;
  padding: 0 0.25rem;
}
.chat-input-field {
  flex: 1;
}
.chat-input-field textarea {
  flex: 1;
  padding: 1px;
}

@media (min-width: 1271px) {
  .chatWindow {
    top: 76px;
    max-height: calc(100% - 76px);
    right: 0;
    width: 500px;
  }
  .chat-mobile-header {
    display: none;
  }
}

@media (max-width: 1270px) {
  .chatWindow {
    transition: right 0.2s ease-in-out;
    top: 0;
    right: -100%;
    width: calc(100vw - 170px);
    z-index: 99;
  }
  .chat-back-button {
    border-radius: 5rem;
    padding: 0.25rem;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  .chat-mobile-header {
    display: flex;
    padding: 0.25rem;
    background: var(--color-light);
  }
  .chatWindow.mobile-visible {
    right: 0;
  }
}

@media (max-width: 600px) {
  .chatWindow {
    height: calc(100vh - 64px);
    top: 64px;
    width: 100%;
  }
}
