
.wishlistItem {

  /*
  display: flex; 
  justify-content: space-between;
  */
  width: 100%;
  height: 12vh;
  box-sizing: border-box;
  padding: 10px;

  display: grid;
  grid-template-columns: 20% 35% 15% 30%;

  border-bottom: 2px solid white;


}

.itemContent {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itemPrice > h3 {
  margin: 0;
  padding: 0;
}

.itemPrice {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.itemDescription{
  overflow: auto;

}

.itemDescription > p {
  margin: 0;
  padding: 0;
}

.itemClaim {
  display: flex;
  flex-direction: row;
}

.claimedBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.claimedBy > h3 {
  margin: 0;
  padding: 0;
}

.smallClaimButton {
  min-width: 100px;
}

.claimUsers{
  width: 100%;

  display: flex;
  justify-content: center;
}

.userWhoClaimed {
  padding: 5px;
  margin: 0;
}

.userWhoClaimedName {
  display: none;
  position: absolute;

  opacity: 0.4;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.userWhoClaimedName > p {
  margin: 0;
  padding: 0;
}

.userWhoClaimed:hover > .userWhoClaimedName {
  display: block;
}