@media (min-width: 601px) {
  .dashboard ~ * {
    margin-left: 140px;
    width: calc(100vw - 140px);
  }
}

.createWishlistButton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100px;
}
