.groupPage {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 76px;
  min-height: calc(100vh - 76px);
}

.groupWishlists {
  flex: 1;
}

.groupPageHeader {
  z-index: 9;
  top: 64;
}

@media (max-width: 600px) {
  .groupPage {
    margin-top: calc(76px + 64px);
    min-height: calc(100vh - 76px - 64px);
  }
}
