.groupPage {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 10vh;
  min-height: calc(100vh - 10vh);
}

.groupWishlists {
  flex: 1;
}

.groupPageHeader {
  z-index: 9;
  top: 64;
}

@media (max-width: 600px) {
  .groupPage {
    margin-top: calc(10vh + 64px);
    min-height: calc(100vh - 10vh - 64px);
  }
}
