.wishlistItem {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px;

  display: flex;

  border-bottom: 2px solid white;
}

.wishlistItemColumn {
  display: flex;
}

.itemContent > .buttonContainer {
  flex: 1;
}

.wishlistItemColumn .buttonContainer {
  width: 100%;
}

.wishlistItemColumn > * {
  flex: 1;
}

.itemContent {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itemPrice > h3 {
  margin: 0;
  padding: 0;
}

.itemPrice {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.itemDescription {
  overflow: auto;
}

.itemDescription > p {
  margin: 0;
  padding: 0;
}

.itemClaim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.itemClaim > h3 {
  margin: 0;
  padding: 0;
}

.claimUsers {
  width: 100%;

  display: flex;
  justify-content: center;
}

.userWhoClaimed {
  padding: 5px;
  margin: 0;
}

.userWhoClaimedName {
  display: none;
  position: absolute;

  opacity: 0.4;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.claimedBy > h3 {
  margin: 0;
  padding: 0;
}

.itemContent.itemPriceLink {
  justify-content: space-between;
}

.userWhoClaimed:hover > .userWhoClaimedName {
  display: block;
}

.wishlistColumnTitleDesc {
  align-items: center;
}

@media (min-width: 601px) {
  .wishlistItemColumn {
    flex-basis: 50%;
  }
}

@media (max-width: 600px) {
  .wishlistColumnTitleDesc {
    flex-direction: column;
    margin-bottom: 0.75rem;
  }

  .wishlistItem {
    flex-direction: column;
  }
}
