.createWishlistButton {
  position: fixed;
  left: 0;
  bottom: 40px;
  max-width: 100vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.createWishlistButton.shown {
  animation: showButton 0.75s;
}
.createWishlistButton.hidden {
  opacity: 0;
}

.createWishlistButton > * {
  margin-right: 1rem;
}
.logged-in-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.react-swipeable-view-container {
  flex: 1;
}
.page-tab {
  max-width: 100vw;
}
@media (max-width: 600px) {
  .logged-in-page {
    min-height: calc(100% - 64px);
  }
}

@keyframes showButton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
