

.messageContent {
  display: flex;
}

.messageContentSent {
  display: flex;
  flex-direction: row-reverse;
}

.imageContainer {
  display: flex;
  align-items: flex-end;
  margin: 0 8px;
}

.chatNameContainer p {
  margin: 0;
  padding: 0;
}

.chatBubble{
  max-width: 300px;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: var(--color-light);
  font-weight: lighter;
  word-wrap: break-word;
}

.chatBubbleSent {
  background-color: var(--color-secondary-light)
}

.chatBubble p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
