.wishlistTitle {
  display: flex;
  border-bottom: 2px solid var(--color-dark);
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.wishlistTitle .editButtons {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.wishlistTitle > *:first-child {
  flex: 1;
}

.wishlistTitle input,
.wishlistTitle h1 {
  text-align: left;
  font-weight: 400;
  font-size: 3rem;
  color: var(--color-dark);
  padding: 0.25rem 0px;
  margin: 0;
}

.wishlistTitle form {
  margin-right: 2.5rem;
}

.wishlistTitle input {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #757575;
}

.wishlistTitle input:focus {
  outline: none;
}

/* Bar */

.bar {
  position: relative;
  display: block;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-primary-light);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
