/*
  Styles for the buttons
*/

:root {
  --button-radius: 0.4rem;
}

/* General button and button container styles */

.buttonContainer {
  border-radius: var(--button-radius);
}

.buttonContainer button {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: 500;
  outline: none;
  border-radius: var(--button-radius);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  height: 100%;
}

/* Styles for text button */

.buttonText {
  border-style: none;
  background: none;
}

.buttonText:hover {
  background: rgba(0, 0, 0, 0.06);
}

.buttonText:focus {
  background: rgba(0, 0, 0, 0.08);
}

/* Styles for outlined button */

.buttonOutlined {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.buttonOutlined:hover {
  background: rgba(0, 0, 0, 0.08);
}

.buttonOutlined:focus {
  background: rgba(0, 0, 0, 0.13);
}

/* Styles for filled button */

.buttonFilled:hover {
  opacity: 0.95;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17), 0 4px 6px rgba(0, 0, 0, 0.23);
}

.buttonFilled:focus {
  opacity: 0.85;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.buttonFilled:active {
}

.buttonFilled {
  border: none;
  color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.buttonFilledContainer {
  background: rgba(255, 255, 255, 0.65);
}
