#dialog-container {
  z-index: 99999;
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.32);
}

.dialog {
  display: flex;
}

.dialog .card-container {
  flex: 1;
}

.dialog .card-container .dialog-header {
  margin-bottom: 24px;
}

@media (min-width: 601px) {
  .dialog {
    width: 560px;
  }
}

@media (max-width: 600px) {
  .dialog {
    width: 280px;
  }
}
